<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTQ4eGFremZ6N2NmbmhianVicDYydmF5OWw3b2hqcjd2dGkwcGNpOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/ujpaHBFQxnZIALTObQ/giphy.gif" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
